In [1]:
import pandas

In [2]:
fp = 'input/raw_data.csv'
df = pandas.read_csv(fp)

data_head = df.head()
data_info = df.info()
data_describe = df.describe(include='all')
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        920 non-null    int64
 1   age       920 non-null    int64
 2   sex       920 non-null    object
 3   dataset   920 non-null    object
 4   cp        920 non-null    object
 5   trestbps  861 non-null    float64
 6   chol      890 non-null    float64
 7   fbs       830 non-null    object
 8   restecg   918 non-null    object
 9   thalch    865 non-null    float64
 10  exang     865 non-null    object
 11  oldpeak   858 non-null    float64
 12  slope     611 non-null    object
 13  ca        309 non-null    float64
 14  thal      434 non-null    object
 15  num       920 non-null    int64
dtypes: float64(5), int64(3), object(8)
memory usage: 115.1+ KB

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,2,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,3,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,4,37,Male,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,5,41,Female,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0

In [3]:
data_cleaned = df.drop(['id'], axis=1)

data_cleaned.head()

,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,37,Male,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,41,Female,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0

In [4]:
missing_data = data_cleaned.isnull().sum()
missing_data[missing_data > 0]

trestbps     59
chol         30
fbs          90
restecg       2
thalch       55
exang        55
oldpeak      62
slope       309
ca          611
thal        486
dtype: int64

In [5]:
data_cleaned = data_cleaned.drop(['ca', 'thal', 'slope'], axis=1)
data_cleaned.head()

,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,num
0,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,0
1,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,2
2,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,1
3,37,Male,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,0
4,41,Female,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,0

In [6]:
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       920 non-null    int64
 1   sex       920 non-null    object
 2   dataset   920 non-null    object
 3   cp        920 non-null    object
 4   trestbps  861 non-null    float64
 5   chol      890 non-null    float64
 6   fbs       830 non-null    object
 7   restecg   918 non-null    object
 8   thalch    865 non-null    float64
 9   exang     865 non-null    object
 10  oldpeak   858 non-null    float64
 11  num       920 non-null    int64
dtypes: float64(4), int64(2), object(6)
memory usage: 86.4+ KB

In [7]:
data_cleaned = data_cleaned.dropna(subset=['chol', 'restecg'])
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 888 entries, 0 to 919
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       888 non-null    int64
 1   sex       888 non-null    object
 2   dataset   888 non-null    object
 3   cp        888 non-null    object
 4   trestbps  832 non-null    float64
 5   chol      888 non-null    float64
 6   fbs       799 non-null    object
 7   restecg   888 non-null    object
 8   thalch    836 non-null    float64
 9   exang     836 non-null    object
 10  oldpeak   829 non-null    float64
 11  num       888 non-null    int64
dtypes: float64(4), int64(2), object(6)
memory usage: 90.2+ KB

In [8]:
for column in ['trestbps', 'thalch', 'oldpeak']:
    median_value = data_cleaned[column].median()
    data_cleaned[column] = data_cleaned[column].fillna(median_value)

for column in ['fbs', 'exang']:
    mode_value = data_cleaned[column].mode()[0]
    data_cleaned[column] = data_cleaned[column].fillna(mode_value)

data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 888 entries, 0 to 919
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       888 non-null    int64
 1   sex       888 non-null    object
 2   dataset   888 non-null    object
 3   cp        888 non-null    object
 4   trestbps  888 non-null    float64
 5   chol      888 non-null    float64
 6   fbs       888 non-null    bool
 7   restecg   888 non-null    object
 8   thalch    888 non-null    float64
 9   exang     888 non-null    bool
 10  oldpeak   888 non-null    float64
 11  num       888 non-null    int64
dtypes: bool(2), float64(4), int64(2), object(4)
memory usage: 78.0+ KB

C:\Users\micha\AppData\Local\Temp\ipykernel_19276\1602352770.py:7: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_cleaned[column] = data_cleaned[column].fillna(mode_value)

In [9]:
zero_chol_count = (data_cleaned['chol'] == 0).sum()
zero_chol_count

171

In [10]:
zero_age_count = (data_cleaned['age'] == 0).sum()
zero_age_count

0

In [17]:
zero_trestbps_count = (data_cleaned['trestbps'] == 0).sum()
zero_trestbps_count

0

In [11]:
zero_chol_count = (data_cleaned['chol']).sum()
zero_chol_count

176931.0

In [12]:
data_cleaned = data_cleaned[data_cleaned['chol'] != 0]

In [21]:
Q1 = data_cleaned['chol'].quantile(.25)
Q3 = data_cleaned['chol'].quantile(.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = data_cleaned[(data_cleaned['chol'] <= lower_bound) | (data_cleaned['chol'] >= upper_bound)]
outliers_info = outliers[['age', 'sex', 'chol']]

lower_bound, upper_bound, outliers_info

(111.0,
 375.0,
      age     sex   chol
 48    65  Female  417.0
 121   63  Female  407.0
 152   67  Female  564.0
 173   62  Female  394.0
 181   56  Female  409.0
 373   44    Male  412.0
 431   52    Male  100.0
 434   53  Female  468.0
 461   55  Female  394.0
 473   56    Male   85.0
 500   40    Male  466.0
 528   32    Male  529.0
 531   40  Female  392.0
 546   54    Male  603.0
 566   52    Male  404.0
 568   53    Male  518.0
 576   56    Male  388.0
 584   44    Male  491.0
 595   58  Female  393.0
 748   56    Male  100.0
 800   58    Male  458.0
 802   67    Male  384.0
 918   58    Male  385.0)

In [22]:
data_final = data_cleaned[(data_cleaned['chol'] >= lower_bound) & (data_cleaned['chol'] <= upper_bound)]
data_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 694 entries, 0 to 919
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       694 non-null    int64
 1   sex       694 non-null    object
 2   dataset   694 non-null    object
 3   cp        694 non-null    object
 4   trestbps  694 non-null    float64
 5   chol      694 non-null    float64
 6   fbs       694 non-null    bool
 7   restecg   694 non-null    object
 8   thalch    694 non-null    float64
 9   exang     694 non-null    bool
 10  oldpeak   694 non-null    float64
 11  num       694 non-null    int64
dtypes: bool(2), float64(4), int64(2), object(4)
memory usage: 61.0+ KB

In [23]:
data_final.to_csv('output/cleaned_data.csv', index=False)

In [16]:
data_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 694 entries, 0 to 919
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       694 non-null    int64
 1   sex       694 non-null    object
 2   dataset   694 non-null    object
 3   cp        694 non-null    object
 4   trestbps  694 non-null    float64
 5   chol      694 non-null    float64
 6   fbs       694 non-null    bool
 7   restecg   694 non-null    object
 8   thalch    694 non-null    float64
 9   exang     694 non-null    bool
 10  oldpeak   694 non-null    float64
 11  num       694 non-null    int64
dtypes: bool(2), float64(4), int64(2), object(4)
memory usage: 61.0+ KB